<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/Style.css">
    <title>Sekiro fanart collection</title>
</head>
<body>
    <header>
        <h1 class = "title"><p> Sekiro fanart collection </p></h1>
        <p><i> "Hesitation is defeat" </i></p>
    </header>
    <hr>
    <br>
    <div id = "container">

        <div class = "div-img" id = "1">
            <img src ="../static/img1.jpg" class = "img" onclick='onClick(this)'>
        </div>

        <div class = "div-img" id = "2">
                <img src ="../static/img2.jpg" class = "img" onclick='onClick(this)'>
        </div>

        <div class = "div-img" id = "3">
                <img src ="../static/img3.jpg" class = "img" onclick='onClick(this)'>
        </div>

        <div class = "div-img" id = "4">
                <img src ="../static/img_full.jpg" class = "img" onclick='onClick(this)'>
        </div>
        <br>
        <hr>
    </div>

    <footer>
        <p>No copyright</p>
    </footer>

    <div class = "myModal">
        <span class = "close"> &times; </span>
        <div class="size">
            <img class="modal_content" id = "img-modal">
        </div>
    </div>

    <script src = "../static/script.js">
    </script>

</body>
</html>
