<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content = "IE=edge">
    <meta name = "viewpoint" content = "width=device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="../static/StyleLogin.css">
    <title>Title</title>
</head>
<body style = "width : 300px; margin : auto;" >
    <form action="/login" method = "post" class = "login">
        <input type = "text" name = "username" placeholder="User">
        <input type = "password" name = "password" placeholder="Password">
        <button>Login</button>
        <a href = "/register" id = "register-line">Don't have an account ? Click here!</a>
    </form>
</body>
</html>