<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content = "IE=edge">
    <meta name = "viewpoint" content = "width=device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="../static/StyleLogin.css">
    <title>Title</title>
</head>
<body style = "width : 300px; margin : auto;" >
    <form action="/register" method = "post" class = "login">
        <input type = "text" name = "username" placeholder="Username">
        <input type = "password" name = "password" placeholder="Password">
        <input type = "password" name = "password_confirm" placeholder="Password_confirm">
        <button id = "Register">Register</button>
        <a href = "/login">Already have an account? Sign in here!</a>
    </form>

</body>
</html>